<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
     <script src="{{ url_for('static',filename='js/bootstrap.js') }}" ></script>
</head>
<body>

<div class="container">
    <div class="row">


        <div class="col-12 btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">test</button>
          <button type="button" class="btn btn-secondary">test 2</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
    </div>

<div class="row">
    <div class="col-12">
     {% block content %}
    {% endblock content %}
    </div>
</div>


    <div class="row">


        <div class="col-12 btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">test</button>
          <button type="button" class="btn btn-secondary">test 2</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
    </div>



</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</html>